.styled-button-white {
    position: relative;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    overflow: hidden;
}

.styled-button-white::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.styled-button-white:hover::before {
    transform: translateX(100%);
}

.styled-button-white:active {
    transform: translateY(2px);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #151515, #262626);
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.icon {
    width: 20px;
    height: 20px;
    fill: white;
    transition: transform 0.3s ease;
}

.styled-button:hover .icon {
    transform: translateX(5px);
}